
img {
    height: 50px;
    width: 60px;
}

.item {
    text-align: center;
}

.img {
    text-align: right;
}

.btn-size {
    margin-top: 9px;
    color: #46afec;
    
}

.icon-size{
    font-size: x-large;
}

.btn-size:hover {
    color: #126596;
    
}