/* .container {
    width: 600px;
    margin: auto;
}

.block {
    margin-top: 5px;
    ;
} */

img {
    height: 50px;
    width: 60px;
}

.item {
    text-align: center;
}

.img {
    text-align: right;
}

.btn-size {
    margin-top: 20px;
    color: #46afec;
}