<div class="container block">
    <div style="height: 60px;"></div>

    <div class="row">
        <div class="col-sm-2 text-center">
            <a (click)="goBack()">
                <strong class=" btn-size hand"><i class="fas fa-arrow-left"></i>
                </strong></a>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-2 img">
                    <img class="logo" src="../../assets/image1.png" alt="logo">
                </div>
                <div class="col-sm-6 item">
                    <h5 class="logoColor border border-dark rounded p-2">
                        {{headerData.title}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>