<div class="container-fluid">

    <div style="height: 100px;"></div>
    <div class=" row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="row mb-2">
                <div class="col-2">
                    <img class="logo" src="../../assets/image1.png" alt="logo">
                </div>
                <div class="col-8 text-center rounded-circle">
                    <h5 class="logoColor border border-dark rounded p-2">
                        {{borrowerName}}<br>
                        {{borrowerPhone}} <br>
                        {{balance}}
                    </h5>
                </div>
            </div>
            <br><br><br>

            <form [formGroup]='creditForm' (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-1"></div>

                    <div class="col-4 text-center">
                        <button type="button" id="Debit" value="DEBIT" (click)="giveCredit($event)"
                            class="btn btn-danger border border-dark rounded creditType p-2">
                            Credit Given
                        </button>
                    </div>
                    <div class="col-2"></div>

                    <div class="col-4 text-center rounded-circle">
                        <button type="button" id="Credit" value="CREDIT" (click)="takeCash($event)"
                            class="btn btn-success border border-dark rounded creditType p-2">
                            Cash Received
                        </button>
                    </div>
                </div>
                <div id="block" style="margin-left: 10%; margin-right: 10%;">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-2 text-right">
                            <label for="name" class="d-inline label">Date :</label>
                        </div>
                        <div class="col-3">
                            <input class="rounded w-100 border border-primary" formControlName="date" type="date"
                                id="date" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-2 text-right">
                            <label for="amount" class="d-inline label"> Amount :</label>
                            <p class="required d-inline">*</p>
                        </div>
                        <div class="col-3">
                            <input class="rounded w-100 border border-primary" formControlName="amount" type="number"
                                id="amount" placeholder="Amount" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-2 text-right">
                            <label for="due" class="d-inline label"> Due Date:</label>
                            <p class="required d-inline">*</p>
                        </div>
                        <div class="col-3">
                            <input class="rounded w-100 border border-primary" type="date" id="due"
                                formControlName="due" disabled>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" [disabled]="!creditForm.valid"
                                class="btn confirmBtn border border-dark nav-item nav-link-edit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>