<div class="container-fluid">

    <div style="height: 100px;"></div>
    <div class=" row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="row mb-2">
                <div class="col-2">
                    <img class="logo" [routerLink]="['/home']" src="../../assets/image1.png" alt="logo">
                </div>
                <div class="col-8 text-center rounded-circle">
                    <h5 class="logoColor border border-dark rounded p-2">
                        {{borrowerName}}<br>
                        <<<<<<< HEAD {{borrowerPhone}}<br>
                            {{balance}}
                            =======
                            <i class="material-icons icon">phone</i> {{borrowerPhone}} <br>
                            <i class='fas fa-rupee-sign icon'></i> {{balance}}
                            >>>>>>> 382a49c376eaffa2cba88a942d45f5f8938f2280
                    </h5>
                </div>
            </div>
            <div class="col-7">
                <div style="position: absolute; right: 20px; width: 80px; text-align:center;">
                    <a [routerLink]="['/editcustomer']" class="btn logoColor border-dark">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </div>
            </div>
            <br><br><br>

            <form [formGroup]='creditForm' (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-1"></div>

                    <div class="col-4 text-center">
                        <button type="button" id="Debit" value="DEBIT" (click)="giveCredit($event)"
                            class="btn btn-danger rounded creditType p-2">
                            Credit Given
                        </button>
                        <div class="feedback" *ngIf="this.selectTxn">Select for Money Given
                        </div>
                    </div>
                    <div class="col-2"></div>

                    <div class="col-4 text-center rounded-circle">
                        <button type="button" id="Credit" value="CREDIT" (click)="takeCash($event)"
                            class="btn btn-success rounded creditType p-2">
                            Cash Received
                        </button>
                        <div class="feedback" *ngIf="this.selectTxn">Select for Money Received
                        </div>
                    </div>

                </div>
                <div id="block" style="margin-left: 10%; margin-right: 10%;">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-2 text-right">
                            <label for="name" class="d-inline label">Date :</label>
                        </div>
                        <div class="col-3">
                            <input class="rounded w-100 border border-primary" formControlName="date" type="date"
                                id="date" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-2 text-right">
                            <label for="amount" class="d-inline label"> Amount :</label>
                            <p class="mandatory d-inline">*</p>
                        </div>
                        <div class="col-3">
                            <input [ngClass]="{'invalid' : isValid('amount')}" class="rounded w-100"
                                formControlName="amount" min="0" type="number" id="amount" placeholder="Amount"
                                required>
                            <div class="feedback" *ngIf="this.isNaN">Enter amount
                            </div>
                            <div class="feedback" *ngIf="isValid('amount')">
                                <span *ngIf="creditForm.controls.name.errors.required">Enter some money value!</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-2 text-right">
                            <label for="due" class="d-inline label"> Due Date:</label>
                        </div>
                        <div class="col-3">
                            <input class="rounded w-100 border border-primary" type="date" id="due"
                                formControlName="due" disabled>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">

                        <div class="col-4 text-left">
                            <button type="button" class="btn confirmBtn border-dark rounded"
                                [routerLink]="['/home']">Back</button>
                        </div>

                        <div class="col-4 text-center">
                            <button id="save" type="submit" [disabled]="!creditForm.valid"
                                class="btn confirmBtn border border-dark nav-item nav-link-edit">Save</button>
                            <div class="feedback" *ngIf="this.selectTxn">Select one transaction type
                            </div>
                            <div class="feedback" *ngIf="this.isNaN">Enter amount
                            </div>
                            <div class="feedback" *ngIf="isValid('amount')">Input all required values before submitting
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>