.logo {
    height: 99%;
    width: 80px;
}

input {
    border: 1px solid #46afec;
}

.icon {
    font-size: 17px;
}

.val {
    font-size: 18px;
    word-wrap: break-word;
}

.headerDiv {
    vertical-align: middle;
    height: 50px;
    font-size: 22px;
}

/* Chrome, Safari, Edge, Opera 
To remove the spnners/ arrows from input field type "number" */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .block{
  right: 2vw;
    }
}

@media screen and (max-width: 767px) {
    .headName {
        font-size: 17px;
    }
    .val, .icon {
        font-size: 15px;
    }

    .fix {
        left: 0px;
        margin: auto;
        margin-top: 8px;
    }

    .label {
        text-align: left;
    }
}