.info {
    font-weight: bold;
    margin-top: 5px;
    font-size: large;
}

@media screen and (max-width: 840px) {
    .cancel {
        font-size: 14px;
    }
    .info {
        font-size: 15px;
    }
    .mobile-left{
        padding-right: 50px;
    }
}