<div class="container">
    <div style="height: 50px;"></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <form [formGroup]='customerForm' (ngSubmit)="update()">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-sm-5">
                        <label for=name class="info">Name :</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <input id="name field-size" [ngClass]="{'invalid' : isValid('newlenderName')}"
                            formControlName="newlenderName" [(ngModel)]="newlenderName" required>
                        <div class="feedback" *ngIf="isValid('newlenderName')">
                            <span *ngIf="customerForm.controls.newlenderName.errors.required">Field cannot be
                                Empty!!!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-sm-5">
                        <label for=shopName class="info">Shop-Name :</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <input id="shopName" [ngClass]="{'invalid' : isValid('newlenderShopName')}"
                            formControlName="newlenderShopName" [(ngModel)]="newlenderShopName" required>
                        <div class="feedback" *ngIf="isValid('newlenderShopName')">
                            <span *ngIf="customerForm.controls.newlenderShopName.errors.required">Field cannot be
                                Empty!!!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-sm-5">
                        <label for=phone class="info">Phone-No :</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-7 col-lg-6" (click)="isPresentPhone = false">
                        <input id="phone" type="number"
                            [ngClass]="{'invalid' : isValid('newlenderPhone') || isPresentPhone}"
                            formControlName="newlenderPhone" [(ngModel)]="newlenderPhone" pattern="[+0-9]{10}" required>
                        <div *ngIf="isPresentPhone" class="feedback">Number Already Exists!!! Please use different
                            number
                        </div>
                        <div class="feedback mobFeedback" *ngIf="isValid('newlenderPhone')">
                            <span *ngIf="customerForm.controls.newlenderPhone.errors.required">Field cannot be
                                Empty!!!</span>
                            <span *ngIf="customerForm.controls.newlenderPhone.errors.pattern">Enter Valid Mobile Number
                                of 10
                                digits!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-sm-5">
                        <label for=email class="info">Email :</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <input id="email" [ngClass]="{'invalid' : isValid('newlenderEmail')}"
                            formControlName="newlenderEmail" type="email"
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" [(ngModel)]="newlenderEmail"
                            required disabled>
                        <div class="feedback" *ngIf="isValid('newlenderEmail')">
                            <span *ngIf="customerForm.controls.newlenderEmail.errors.required">Field cannot be
                                Empty!!!</span>
                            <span *ngIf="customerForm.controls.newlenderEmail.errors.pattern">Enter a Valid Email
                                ID</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-sm-5">
                        <label for=lenderid class="info">Password :</label>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <input type="password" id="lenderid" [ngClass]="{'invalid' : isValid('newpassword')}"
                            formControlName="newpassword" [(ngModel)]="newpassword" disabled>
                        <div class="feedback" *ngIf="isValid('newpassword')">
                            <span *ngIf="customerForm.controls.newpassword.errors.required">Field cannot be
                                Empty!!!</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-4 text-center md">
                        <a class="cancel" [routerLink]="['/myaccount']">
                            Cancel </a>
                    </div>
                    <div class="col-4 col-md-5 btn-right text-right">
                        <button [disabled]="!customerForm.valid" class="btn confirmBtn border border-dark"><a> Update
                            </a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>