.info {
    font-weight: bold;
    font-size: large;
}

.md {
    margin-top: 8px;
}

.password-size {
    height: 35px;
    width: 240px;
}

@media screen and (max-width: 840px) {
    .cancel {
        font-size: 14px;
    }
    .info {
        font-size: 15;
    }
    input {
        width: 100%;
    }
    .btn-right {
        margin-left: 90px;
        margin-bottom: 10px;
    }
    .password-size {
        height: 35px;
        width: 330px;
    }
}