<div class="container">
    <div class=" row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10 block">
            <br><br><br>
            <div class="row">
                <div class="col-12 text-center">
                    <h2><img class="logo mr-3" src="../../assets/image1.png" alt="logo">OTP Verification</h2>

                </div>
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-12 col-md-8">
                    <hr style="border: 1px solid #46afec;">
                    <h6>Please Enter the One-Time Password sent to <strong style="color: #51a3d3;">{{email}}</strong>
                    </h6>
                </div>
            </div>
            <br><br>
            <form [formGroup]='customerForm' (ngSubmit)="onSubmit()">
                <div class="text-center" (click)="isVerified = false">
                    <input type="text" [ngClass]="{'invalid' : isValid('otpReader') || isVerified}"
                        class="text-line text-center" maxlength="6" pattern="^\d{6}$" placeholder="******" id="otp"
                        formControlName="otpReader" required />
                    <div *ngIf="isVerified" class="feedback">Please Enter The Correct OTP !!</div>
                    <div class="feedback" *ngIf="isValid('otpReader')">
                        <span *ngIf="customerForm.controls.otpReader.errors.required">Field cannot be
                            Empty!!!</span>
                        <span *ngIf="customerForm.controls.otpReader.errors.pattern">Please Enter an 6 digit OTP
                            !!</span>
                    </div>
                </div><br><br>
                <div class="row text-center">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2 resend">
                        <a style="color: #46afec;" (click)="resend()">Resend OTP</a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button type="submit" [disabled]="!customerForm.valid"
                            class="btn confirmBtn text-right border border-dark">Verify</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>