<div *ngIf="router.url === '/home/customers'" class="container mt-3">
    <div id="table-wrapper">
        <table id="tbl" class="table table-bordered">
            <thead>
                <tr>
                    <th class="name">
                        <div class="input-group">
                            <input class="w-100 inp" id="name" type="text" placeholder="  Name Search"
                                aria-label="Search">
                        </div>
                    </th>
                    <th class="phone">
                        <div class="input-group">
                            <input class="w-100 inp" id="phone" type="number" placeholder="  Number Search"
                                aria-label="Search">
                        </div>
                    </th>
                    <th class="txn"><select id="txn" class="dropdown-toggle inp selectField btn w-100"
                            data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <option value="" disabled selected>
                                Select an Option
                            </option>
                            <option value="Credit">Credit</option>
                            <option value="Due">Due</option>
                        </select>
                    </th>
                    <th class="text-center">
                        <button type="submit"
                            class="btn text-center confirmBtn border border-dark nav-item nav-link-edit"
                            (click)="onSubmit()">Search</button>
                    </th>
                </tr>

                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Mobile Number</th>
                    <th class="text-center">Amount Pending</th>
                    <th class="text-center">Transaction Date</th>
                </tr>
            </thead>
            <tbody  *ngIf='isSearch==false'>
                <tr id="tbody" *ngFor='let customer of customers | paginate: { itemsPerPage: 7, currentPage: p }'>
                    <td class="text-center name"><a (click)="sendData(customer)" class="blue  "
                            [routerLink]="['/credit']">{{customer.name}}</a></td>
                    <td class="text-center phone">{{customer.phone}}</td>
                    <td class="text-center txn" *ngIf='customer.amount<0'>
                        <p class="red">{{customer.amount}}</p>
                    </td>
                    <td class="text-center txn" *ngIf='customer.amount>=0'>
                        <p class="green  ">{{customer.amount}}</p>
                    </td>
                    <td class="text-center">{{customer.date | date:'medium' }}</td>
                </tr>
            </tbody>
            <tbody  *ngIf='isSearch==true'>
                <tr id="tbody" *ngFor='let customer of customers | paginate: { itemsPerPage: 7, currentPage: p }'>
                    <td class="text-center name"><a (click)="sendData(customer)" class="blue  "
                            [routerLink]="['/credit']">{{customer.name}}</a></td>
                    <td class="text-center phone">{{customer.phone}}</td>
                    <td class="text-center txn" *ngIf='customer.amount<0'>
                        <p class="red">{{customer.amount}}</p>
                    </td>
                    <td class="text-center txn" *ngIf='customer.amount>=0'>
                        <p class="green  ">{{customer.amount}}</p>
                    </td>
                    <td class="text-center">{{customer.date | date:'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 text-center" style="color: #46afec;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>