.floatLeft {
    width: 50%;
    float: left;
}

.floatRight {
    width: 50%;
    float: right;
}

.container {
    overflow: hidden;
}

.red {
    color: rgb(243, 71, 71);
}

.green {
    color: green;
}