<div *ngIf="router.url === '/home/customers'" class="container mt-2">
        <div id="table-wrapper">
        <table id="tbl" class="table table-bordered">
            <thead>
                <tr>
                    <th class="name">
                        <div class="input-group">
                            <input class="w-100 inp" id="name" type="text" placeholder="  Name Search" aria-label="Search">
                        </div>
                    </th>
                    <th class="phone">
                        <div class="input-group">
                            <input class="w-100 inp" id="phone" type="number" placeholder="  Number Search" aria-label="Search">
                        </div>
                    </th>
                    <th class="txn"><select id="txn" class="dropdown-toggle inp selectField btn w-100" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <option value="" selected>
                                Select an Option
                            </option>
                            <option value="Credit">Credit</option>
                            <option value="Due">Due</option>
                        </select>
                    </th>
                    <th class="text-center">
                        <button type="submit" class="btn text-center confirmBtn border border-dark nav-item nav-link-edit" (click)="onSubmit(); isReset=true"><i class="fa fa-search" aria-hidden="true"></i></button> &nbsp;
                        <a *ngIf='isReset==true' class="btn-reset" href="" (click)='getListAtStart(); isSearch=false'>Reset</a>
                    </th>
                </tr>

            <tr>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Amount Pending</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            <tr id="tbody" class="" *ngFor='let customer of customers | paginate: { itemsPerPage: 6, currentPage: p }'>
                <td class=" name"><a (click)="sendData(customer)" class="blue  "
                        [routerLink]="['/credit']">{{customer.name}}</a></td>
                <td class=" phone">{{customer.phone}}</td>
                <td class=" txn" *ngIf='customer.amount<0'>
                    <p class="red ted">{{customer.amount}}</p>
                </td>
                <td class=" txn" *ngIf='customer.amount>=0'>
                    <p class="green ted">{{customer.amount}}</p>
                </td>
                <td class="">{{customer.date | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="col-12 text-center" style="color: #46afec;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>