.red {
	color: rgb(243, 71, 71);
}

.green {
	color: green;
}

tr:nth-child(even) {
	background-color: #f0ebeb;
}


td, th {
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	
}

.ted{
	margin: auto;
}

table {
	max-width: 1000px;
	table-layout: fixed;
	margin: auto;
	word-wrap: break-word;
}

td{
	height: 50px;
}

.delete{
	color: rgb(250, 94, 94);
}

.name {
	width: 20%;
}

.phone {
	width: 20%;
}

.txn {
	width: 20%;
}

.date {
	width: 25%;
}

.edit {	
	width: 15%;
}

.icon-color{
	color: #46afec;
}

.btn-size{
	width: 50px;
}

.delete:hover {
	color: rgb(214, 34, 34);	
  }

.modal-size{
	width: 320px;
}