<div class="container">
    <div class=" row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 block">
            <br><br><br>
            <form [formGroup]='customerForm' (ngSubmit)="update()">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4 col-11">
                        <label for="password" class="d-inline label">Current Password</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input class="rounded inp w-100" [ngClass]="{'invalid' : isValid('present_password') }"
                            type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$"
                            id="present_password" placeholder=" Enter Current Password"
                            formControlName="present_password" required>
                        <div class="feedback" *ngIf="isValid('present_password')">
                            <span *ngIf="customerForm.controls.present_password.errors.required">Field cannot be
                                Empty!!!</span>
                            <span *ngIf="customerForm.controls.present_password.errors.pattern">Min 6 digit Password
                                with
                                atleast one digit, small and capital letter & special character</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4 col-11">
                        <label for="password" class="d-inline label">New Password</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input class="rounded inp w-100" [ngClass]="{'invalid' : isValid('password') }" type="password"
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$" id="password"
                            placeholder=" Enter New Password" formControlName="password" required>
                        <div *ngIf="isCurrentMatch" class="feedback">Please Choose Different Password</div>
                        <div class="feedback" *ngIf="isValid('password')">
                            <span *ngIf="customerForm.controls.password.errors.required">Field cannot be Empty!!!</span>
                            <span *ngIf="customerForm.controls.password.errors.pattern">Min 6 digit Password with
                                atleast one digit, small and capital letter & special character</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4 col-11">
                        <label for="confirm_password" class="d-inline label">Confirm Password</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-6 col-12">
                        <input class="rounded inp w-100"
                            [ngClass]="{'invalid' : isValid('confirm_password') || isMatch}" type="password"
                            pattern="(?=^.{6,10}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
                            id="confirm_password" placeholder=" Confirm Password" formControlName="confirm_password"
                            required>
                        <div *ngIf="isMatch" class="feedback">Please Enter The Same Password as Above !!</div>
                        <div class="feedback" *ngIf="isValid('confirm_password')">
                            <span *ngIf="customerForm.controls.confirm_password.errors.required">Field cannot be
                                Empty!!!</span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row text-center">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 resend">
                        <a style="color: #46afec;" [routerLink]="['/login']"><strong>Cancel</strong></a>
                    </div>
                    <div class="col-sm-5 text-center">
                        <button type="submit" [disabled]="!customerForm.valid"
                            class="btn confirmBtn border border-dark nav-item nav-link-edit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>