.resend {
    cursor: pointer;
    color: #46afec;
    margin-top: 6px;
    padding-right: 130px;
}

.resend:hover {
    color: #155f8a;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .resend {
        padding-bottom: 20px;
        padding-left: 125px;
    }
}