.logo {
    height: 95%;
    width: 65px;
}

h6{
    text-align: center;
    color: #46afec;
}

h2{
    margin: auto;
    margin-right: 1vw;
}

.resend{
    cursor: pointer;
    color: #46afec;
    margin-top: 6px;
    padding-right: 70px;
}
.resend:hover {
    color: #155f8a;
    text-decoration: underline;
}

.text-line {
    text-align: center;
    letter-spacing: 26px;
}

@media screen and (max-width: 570px) {
    input {
        margin-top: 5px;
    }
    .cancel {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    h2{
        font-size: 26px;
        margin: auto;
        margin-right: 3vw;
    }
}
@media screen and (max-width: 768px) {

    h6 {
        font-size: 14px;
    }
    .cancel {
        font-size: 16px;
    }
    .text-line {
        text-align: center;
        letter-spacing: 22px;
    }
    .resend{
        padding-bottom: 20px;
        padding-left: 70px;
    }
}