<div class="container-fluid">

    <div style="height: 200px;"></div>

    <div class=" row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-2">
                    <img class="logo" src="../../assets/image1.png" alt="logo">
                </div>

                <div class="col-8 text-center mt-2 rounded-circle">
                    <h5 class="logoColor border border-dark rounded p-2"> <i class='fas fa-plus'
                            style='color:white'></i> Add New Customer</h5>
                </div>
            </div>
            <br><br><br>

            <div class="row">
                
                <div class="col-1 text-right">
                    <i class='fas fa-user mt-1 ml-3' style="font-size: 21px;"></i>
                </div>
                <div class="col-sm-4">
                    <label for="name" class="col-form-label d-inline label">Customer Name</label>
                    <p class="required d-inline"> *</p>
                </div>
                <div class="col-sm-6">
                    <input class="form-control border border-primary" type="text" id="name" placeholder="Name">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-1 text-right"> 
                    <i class="material-icons icon rounded-circle mt-1 ml-2">phone</i>
                </div>
                <div class="col-sm-4">
                    <label for="contact" class="col-form-label d-inline label"> Mobile Number</label>
                    <p class="required d-inline"> *</p>
                </div>
                <div class="col-sm-6">
                    <input class="form-control border border-primary" type="text" id="contact" placeholder="Mobile No.">
                </div>
            </div>
            <br><br><br>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-5 text-right">
                    <button type="button" class="btn confirmBtn border border-dark">Save</button>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>