<div class="container">
    <div class=" row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 block">
            <form [formGroup]='customerForm' (ngSubmit)="onSubmit()">
                <br><br><br>

                <div class="row">
                    <div class="col-2 text-right">
                        <i class='fa fa-user mt-1 ml-3' style="font-size: 21px; color: #46afec;"></i>
                    </div>
                    <div class="col-sm-4 col-8">
                        <label for="name" class="d-inline label">Customer Name</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-5 inputDiv">
                        <input class="rounded w-100" [ngClass]="{'invalid' : isValid('name')}"
                            formControlName="name" type="text" id="name" placeholder="Name" required>
                        <div class="feedback" *ngIf="isValid('name')">
                            <span *ngIf="customerForm.controls.name.errors.required">Field cannot be Empty!!!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2 text-right">
                        <i class="material-icons icon rounded-circle mt-1 ml-2">phone</i>
                    </div>
                    <div class="col-sm-4 col-8">
                        <label for="contact" class="d-inline label"> Mobile Number</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-5 inputDiv">
                        <input class="rounded inp w-100" [ngClass]="{'invalid' : isValid('mobile') || isPresent}"
                            type="number" pattern="[+0-9]{10}" id="contact" placeholder="Mobile No."
                            formControlName="mobile" (click)="isPresent=false">
                        <div *ngIf="isPresent" class="feedback">Number Already Exists!!! Please use different number
                        </div>
                        <div class="feedback mobFeedback" *ngIf="isValid('mobile')">
                            <span *ngIf="customerForm.controls.mobile.errors.required">Field cannot be Empty!!!</span>
                            <span *ngIf="customerForm.controls.mobile.errors.pattern">Enter Valid Mobile Number of 10
                                digits!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2 text-right"><i class='fas fa-rupee-sign icon2 rounded-circle'></i></div>
                    <div class="col-sm-4 col-8">
                        <label for="amount" class="d-inline label"> Amount</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-5 inputDiv">
                        <input class="rounded inp w-100" [ngClass]="{'invalid' : isValid('amount')}"
                            formControlName="amount" minlength="1" type="number" id="amount" placeholder="Amount"
                            required>
                        <div class="feedback" *ngIf="isValid('amount')">
                            <span *ngIf="customerForm.controls.name.errors.required">Enter some money value!</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2 text-right"><i class='fas fa-hand-holding-usd icon2 rounded-circle'></i></div>
                    <div class="col-sm-4 col-8">
                        <label for="txnType" class="d-inline label">Transaction Type</label>
                        <p class="mandatory d-inline"> *</p>
                    </div>
                    <div class="col-sm-5">
                        <select href="#" id="txnType" formControlName="txnType"
                            class="dropdown-toggle inp selectField btn w-100" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false" required>
                            <option value="" disabled selected>
                                Select an Option
                            </option>
                            <option value="DEBIT">Debit</option>
                            <option value="CREDIT">Credit</option>
                        </select>
                        <div class="feedback" *ngIf="isValid('txnType')">
                            <span *ngIf="customerForm.controls.txnType.errors.required">Select a transaction type</span>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-sm-11 text-right">
                        <button type="submit" [disabled]="!customerForm.valid"
                            class="btn confirmBtn border border-dark">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>