.logoColor {
    height: 50px;
    height: auto;
}

.logo {
    height: 95%;
    width: 65px;
}

.icon {
    background-color: #46afec;
    color: white;
    font-size: 24px;
}
.icon2 {
    color: #46afec;
    font-size: 24px;
}

.selectField {
background-color: #8dd5ff;
color: white;
}
.label {
    font-size: 20px;
}

input{
    border: 1px solid #46afec;
}

.invalid {
    background-color: #fff0ff;
    border: 1px solid red;
}

.inputDiv{
    height: 35px;
}

/* Chrome, Safari, Edge, Opera 
To remove the spnners/ arrows from input field type "number" */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* If the screen size is 840px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 840px) {
    .label {
        font-size: 17px;
    }
}
