.logoColor {
    height: 50px;
    height: auto;
}

.logo {
    width: 80px;
}

.icon {
    background-color: #46afec;
    color: white;
    font-size: 24px;
}

.icon2 {
    color: #46afec;
    font-size: 24px;
}

.label {
    font-size: 20px;
}

.link {
    color: #46afec;
}

.inputDiv {
    height: 35px;
}


/* Chrome, Safari, Edge, Opera 
To remove the spnners/ arrows from input field type "number" */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* If the screen size is 840px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 840px) {
    .label {
        font-size: 17px;
    }
}