<h1>{{title}}</h1>

<h2>GET request </h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>wallet ID</th>
      <th>Balance</th>
      <th>Customer Id</th>
      <th>Created Date</th>
      <th>Merchant Id</th>
      <th>Updated Date </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor='let comment of walletData'>
      <td>{{comment.walletId}}</td>
      <td>{{comment.balance}}</td>
      <td>{{comment.borrowId}}</td>
      <td>{{comment.createdDate}}</td>
      <td>{{comment.lenderId}}</td>
      <td>{{comment.updatedDate}}</td>
    </tr>
  </tbody>
</table>

<h2>GET request for users</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>lenderId</th>
      <th>Shop Name</th>
      <th>Phone No.</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor='let com of userData'>
      <td>{{com.id}}</td>
      <td>{{com.name}}</td>
      <td>{{com.lenderId}}</td>
      <td>{{com.shopName}}</td>
      <td>{{com.phone}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>