.icon {
    background-color: #46afec;
    color: white;
    font-size: 24px;
}
.icon2 {
    color: #46afec;
    font-size: 21px;
}
.btnDiv {
    left: 30px;
}

@media screen and (max-width: 540px) {
    .cancel{
        font-size: 15px;
    }
    
    .label {
        font-size: 16px;
        width: 100%;
    }

    .icon2{
        font-size: 16px;
    }
    .icon{
        font-size: 18px;
    }

    .block {
        left: 0px;
    }
    .btnDiv {
        left: 130px;
    }
}