.logoColor {
    height: 50px;
    height: auto;
}

.logo {
    height: 95%;
    width: 65px;
}

.icon {
    background-color: #46afec;
    color: white;
    font-size: 24px;
}
.icon2 {
    color: #46afec;
    font-size: 24px;
}

.invalid {
    background-color: #fff0ff;
    border: 1px solid red;
}

input{
    border: 1px solid #46afec;
}

.cancel{
    margin-top: 10px;
    font-size: large;
    text-decoration: underline;
}