tr:nth-child(even) {
	background-color: #f0ebeb;
}

btn {
	height: 30px;
}

td, th {
	padding: 4px;
	text-align: center;
}


table {
	max-width: 1000px;
	table-layout: fixed;
	margin: auto;
	word-wrap: break-word;
}

.btn-right {
	position: absolute;
	right: 20px;
	margin-right: 90px;
	margin-top: 5px;
}

.btn-reset {
	margin: 20px;
	color: #46afec;
	cursor: pointer;
}

.centered{ 
    top: calc(30%);
}

.cancel-icon{
	float:right; 
	size: 10px;
	cursor:pointer;
	margin-top: 0px;
}


