tr:nth-child(even) {
    background-color: #f0ebeb;
}

.btn-right {
    position: absolute;
    right: 15px;
    margin-right: 60px;
    margin-top: 5px;
}

.btn-left {
    position: absolute;
    left: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

select {
    width: 140px;
    height: 28px;
    border: 1px solid #46afec;
}

input {
    border: 1px solid #46afec;
}

table {
    padding: 0%;
}
