<div class="container">
    <div class=" row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 block">

            <br><br><br>
            <div class="row">
                <div class="col-12 text-center">
                    <h2><img class="logo mr-3" src="../../assets/image1.png" alt="logo">Forgot Password</h2>

                </div>
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-12 col-md-8">
                    <hr style="border: 1px solid #46afec;">
                    <h6>Please Enter your Email to reset your password</h6>
                </div>
            </div>
            <br><br><br>
            <form [formGroup]='resetForm' (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-3 mt-1 col-2 text-right">
                        <i class='fa fa-envelope mt-1 ml-3' style="font-size: 21px; color: #46afec;"></i>
                    </div>
                    <div class="col-sm-3 pt-1 col-10">
                        <label for="email" class="d-inline label"> Email ID</label>
                        <p class="mandatory d-inline"> *</p> :
                    </div>
                    <div class="col-sm-5 col-12 col-md-4 inputDiv" (click)="isPresentEmail = false">
                        <input class="rounded inp w-100" [ngClass]="{'invalid' : isValid('emailId') || isPresentEmail}"
                            type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="emailId"
                            placeholder=" Enter Email ID" formControlName="emailId">
                        <div *ngIf="isPresentEmail" class="feedback">Email Not Exists!! Please use different
                            Email ID
                        </div>
                        <div class="feedback emailFeedback" *ngIf="isValid('emailId')">
                            <span *ngIf="resetForm.controls.emailId.errors.required">Field cannot be Empty!!!</span>
                            <span *ngIf="resetForm.controls.emailId.errors.pattern">Enter a Valid Email ID</span>
                        </div>
                    </div>
                </div>
                <br>
                <br><br><br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-5 pt-2 cancel">
                        <a class="logo-color" [routerLink]="['/login']"><strong>Back to Login</strong></a>
                    </div>
                    <div class="col-sm-3 col-7 text-right">
                        <button (click)='onSubmit()' type="submit" class="btn confirmBtn text-right border border-dark"
                            [disabled]="!resetForm.valid">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>