/* You can add global styles to this file, and also import other style files */

.logoColor, .confirmBtn {
    background-color: #46afec;
    color: white;
}

::-webkit-input-placeholder {
    /* Edge */
    font-family: Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
    transition: background-color 0.1s;
    font-size: 17px;
    background-color: #f1faff;
    font-weight: 100;
    box-shadow: none;
    padding: 2px 10px 2px 15px;
    height: 35px;
    border: 1px solid #46afec;
    border-radius: 10px;
}

input:focus {
    outline: none;
    background-color: white;
    box-shadow: 1px 1px 2px 3px #8ec7e9;
}

.selectField {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #46afec;
    color: rgb(82, 81, 81);
    background-color: white;
    height: 35px;
}

.invalid {
    background-color: #fff0ff;
    border: 1px solid red;
}

.cancel {
    cursor: pointer;
    color: #46afec;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.cancel:hover {
    color: #155f8a;
    text-decoration: underline;
}
.hand {
    cursor: pointer;
}

.mandatory {
    color: red;
}

.feedback {
    font-size: 12px;
    color: red;
}

.logo-color {
    color: #46afec;
    cursor: pointer;
}

.centered {
    top: calc(30%);
}

.btn:hover {
    background-color: #227baf;
    color: #f1f1f1;
}