<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-4 col-sm-3 id2"><img [src]="LOGO2" /><a class="logo-color" [routerLink]='["/home/customers"]'>
                Customers</a>
        </div>
        <div class="col-4 id2"><img [src]="LOGO3" /><a class="logo-color" [routerLink]='["/home/reports"]'> Reports</a>
        </div>
        <div class="col-4 col-sm-3 id2">
            <div class="dropdown"><img [src]="LOGO4" /><a class="logo-color dropbtn" href="/home/profile"
                    [routerLink]='["/home"]'> Profile </a>
                <div class="dropdown-content">
                    <a [routerLink]='["/myaccount"]'>My Account</a>
                    <a (click)="editPassword()" [routerLink]='["/editpassword"]'>Edit Password</a>
                    <a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center"><button type="button" class="btn confirmBtn border-dark rounded p-2 mt-3"
                [routerLink]="['/addcustomer']"><i class='fa fa-plus'></i>
                <strong> Add New Customer </strong></button>
        </div>
    </div>

    <app-reports></app-reports>
    <app-customers></app-customers>
    <app-homepage></app-homepage>

    <div class="row">
        <div class="modal centered" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="text-center">Do you want to Log Out ? <br /></p>
                        <div class="actionsBtns">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit"
                                            class="btn btn-square confirmBtn border border-dark rounded p-2"
                                            (click)='clearData()' data-dismiss="modal" value="Yes" />
                                    </div>
                                    <div class="col-6 text-right">
                                        <button class="btn btn-square confirmBtn border border-dark rounded p-2    "
                                            data-dismiss="modal"> No </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>