<div class="container-fluid block">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <img class="logo" src="../../assets/image1.png" alt="logo">
        </div>
        <div class="col-8 text-center mt-2 rounded-circle">
            <h5 class="logoColor border border-dark rounded p-2"> Your Account</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 data">
            <span class="info">Name :</span>
        </div>
        <div class="col-sm-6 data">
            <span class="infoDetail">{{name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 data">
            <span class="info">Phone :</span>
        </div>
        <div class="col-sm-6 data">
            <span class="infoDetail">{{phone}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 data">
            <span class="info">Shop-Name :</span>
        </div>
        <div class="col-sm-6 data">
            <span class="infoDetail">{{shopName}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 data">
            <span class="info">Lender-Id :</span>
        </div>
        <div class="col-sm-6 data">
            <span class="infoDetail ">{{lenderId}}</span>
        </div>
    </div>
</div>